:root {
        --primary-color: greenyellow;
        --secondary-color: blue;
        --tertiary-color: hotpink;
        font-size: 14px;
    }
    
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
        height: auto;
        width: auto;
    }

/* GLOBAL Styles */
/* HEADER*/ 
header {
    background-color: var(--primary-color);
    position: sticky;
    position: -webkit sticky; 
    top: 0;
    z-index: 9999;
    padding: 0px 0 10px 0;
}

header img {
    height: 60px;
    width: 60x;
}

header h1 {
    font-size: calc(1.3em + 1vw);
    text-align: center;
    padding: 10px 5px 0px 10px;
    height: 50%;
    margin:auto;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}
 
.title-avatar {
    background-color: var(--secondary-color);
    height: fit-content;
    width: fit-content;
    display: flex;
}

/*Nav*/
header nav {
    margin: 8px;
    border: none;
}

header nav ul {
    list-style: none;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 10px;   
}

header nav a {
    color: var(--secondary-color);
    font-size: calc(1em + 1vw);
    text-decoration: underline;
}
/*end of HEADER*/

/*HERO*/
.hero {
    background-image: url("../images/coming-soon-CC-image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    height: 200px;
}

.hero p {
    background-color: var(--tertiary-color);
    position: relative;
    top: 70%;
    left: 26%;
}
/*end of HERO*/

/* MAIN*/
.main-content {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

/*make sure that href show the right portion of the page considering the sticky header*/
section {
    scroll-margin-top: 10em;
} 

section h2 {
    font-size: calc(1.2em + 1vw);
    color: var(--secondary-color);
    font-weight: 900;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid;
    border-color: var(--tertiary-color);
    border-radius: 5%;
    width: 50%;
    margin: 0 auto 5px auto;
}

section p {
    font-size: calc(.9em + 1vw);
}

.section-flexbox {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.gallery {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.main-image-container {
    border: 5px solid var(--tertiary-color);
    flex-basis: 0 0 auto;
  
}

.main-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-gallery > li {
    flex-basis: 250px;
    list-style: none;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border: 5px solid var(--tertiary-color);
}

#main-image-caption {
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    top: 670px;
    background-color: var(--tertiary-color); 
}

#image1-caption{
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    top: 900px;
    background-color: var(--tertiary-color);
}

#image2-caption{
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    top: 1110px;
    background-color: var(--tertiary-color);
}

#image3-caption{
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    top: 1350px;
    background-color: var(--tertiary-color);
}

#image4-caption{
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    top: 1620px;
    background-color: var(--tertiary-color);
}

#contact-me h3 {
    font-size: 15px;
    margin: 10px;
}

#contact-me a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* footer */

footer {
    background-color: var(--secondary-color);
    padding: 10px;
}

footer h5 {
    color: var(--primary-color);
    text-align: center;
}


/*media queries for tablets*/
@media screen and (min-width: 576px) {

    .main-content {
        background-color: black;
        padding: 10px 50px;
    }

    #image1-caption{
        top: 990px;
    }
    
    #image2-caption{
        top: 1190px;
    }
    
    #image3-caption{
        top: 1390px;
    }
    
    #image4-caption{
        top: 1690px;
    }
}


/*media queries for smaller laptops starting when the gallery becomes two rows*/
@media screen and (min-width: 820px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 10px 0 5px;
       }
    
       header nav ul {
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 14px;   
        }
    
        header nav a {
        font-size: calc(1em + 1vw);
        }


    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 100%;
        background-color: white;
    }

    section {
        scroll-margin-top: calc(11em + 1vw);
    }  

    section h2 {
        text-align: left;
        border-bottom: 0px;
        border-right: 2px solid var(--tertiary-color);
        border-radius: 0%;
        width: 100%;
        margin: 0;
    }
    
    .section-flexbox {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: nowrap;
        text-align: left;
    }

    /*Using REM to set a how space should be divided between flex containers*/

    .flexbox-title {
        flex-basis: 10rem;
    }

    .flexbox-div {
        flex-basis: 50rem;
    }


    #image1-caption{
        top: 1050px;
    }
    
    #image2-caption{
        top: 1050px;
    }
    
    #image3-caption{
        top: 1250px;
    }
    
    #image4-caption{
        top: 1250px;
    }
 
}


/*media queries for desktops*/
/*chose 938px to make sure image-captions do not break*/
@media screen and (min-width: 938px) {
    header nav ul li {
        font-size: 30px;
    }
    
    .main-content {
        background-color: blueviolet;
    }
   
    #image1-caption{
        top: 1150px;
    }
    
    #image2-caption{
        top: 1150px;
    }
    
    #image3-caption{
        top: 1150px;
    }
    
    #image4-caption{
        top: 1400px;
    }
}

@media screen and (min-width: 1024px) {

}